@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}


html, body, #__next {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;  
  overflow-x: hidden;
}

.bandu-gradient {
  position: relative;
  background-color: #f5f5f5; /* oqish fon */
  overflow: hidden;
}

.bandu-gradient::before {
  content: "";
  position: absolute;
  top: -200px;      /* biroz yuqoriroqdan chiqadi */
  left: -200px;     /* biroz chaproqda */
  width: 600px;     /* kattalashgan nur diametri */
  height: 600px;

  filter: blur(60px); /* yumshoqlikni oshirdik */
  z-index: 0;
}

.bandu-gradient > * {
  position: relative;
  z-index: 1;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

